# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build directories
dist/
dist-ssr/

# OS and editor files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/
.idea/

# Custom directories
/.android/
/.vscode/
/.idea/
/node_modules/
/.venv/
/env/

# Ignore specific OS files
Application Data/
Cookies/
Documents/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
