html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; 
  color: #fff; 
  font-family: system-ui, sans-serif;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.logo, .logo:hover, .logo.react:hover,
.card, .read-the-docs {
  all: unset;
}
